body {
    font-family: arial, sans-serif;
    background: linear-gradient(to top, #fbfafc 0%, hsl(304, 74%, 89%) 1%, #f6d3ef 100%);
  }
  
  li {
    list-style: none;
    color: rgb(160, 8, 207);
    margin: 0;
    padding: 0;
  
    display: block;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    text-align: left;
  }
  li::first-letter {
    text-transform: capitalize;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: rgb(89, 26, 100);
  }
  a:hover {
    text-decoration: underline;
  }
  #search-btn {
    background-color: #8f3ecc;
    border: 1px #fefdff;
  }
  #search-btn:hover {
    transition: ease-out 5ms;
    background-color: rgb(253, 245, 245);
    color: rgb(167, 6, 172);
    box-shadow: 3px 3px 3px #d24ad0;
  }
  .weather-temperature .active {
    color: rgb(228, 13, 13);
    cursor: default;
  }
  .weather-temperature .active:hover {
    text-decoration: none;
  }
  
  .weather-app {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #b605d9;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
  }
  .weather-app-wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 5px;
  }
  .container h1 {
    color: #582395;
    font-family: arial, sans-serif;
    font-size: 24px;
    font-weight: 100;
    height: 27.7778px;
    line-height: 28.8px;
    text-align: left;
    margin-bottom: 0;
  }
  #description {
    color: #7424be;
  }
  .overview {
    margin-bottom: 20px;
  }
  .weather-temperature img {
    margin-right: 10px;
    height: 64px;
    width: 64px;
  }
  .weather-temperature strong {
    color: #5b20da;
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
  }
  .weather-temperature .units {
    position: relative;
    font-size: 16px;
  }
  .weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: #8211b7;
  }
  .weather-forecast-date {
    font-size: 14px;
    opacity: 0.6;
  }
  .weather-forecast-temperature {
    font-size: 13px;
  }
  .weather-forecast-temperature-min {
    opacity: 0.6;
  }
  .weather-forecast-temperature-max {
    color: rgb(159, 22, 214);
    font-weight: bold;
  }